table{
    width: 100%;
    margin: 20px;
    table-layout: fixed;
    border-color: white;
    border-collapse: collapse;
}

td{
    height: 50px;
}
tr.three{
    background-color: rgb(144, 238, 81);
}
tr.six{
    background-color: rgb(144,238,81);
}
button{
    background-color: rgb(116, 223, 45);
    padding: 10px;
}